:root {
  --white: rgb(255, 255, 255);
  --white-40: rgba(255, 255, 255, 0.4);
  --black: #000000;
  --red: #FF9898;
  --orange: #FFC399;
  --yellow: rgba(255, 238, 153);
  --yellow-40: rgba(255, 238, 153, 0.4);;
  --blue: #99DDFF;
  --purple: #AA99FF;
  --pink: #FF99FF;
  --pink-40: rgba(255, 153, 255, 0.4);
  --background-color: #9485E0;
  --navbar-color: #85C2E0;

}





* {
  // <weight>: Use a value from 100 to 900
  // <uniquifier>: Use a unique and descriptive class name
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;

  ::selection {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.75);
  }

  //defaults
  color: var(--white);
}


  h1 {
    color: var(--white);
    font-size: 6.25rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-shadow: 0.25rem 0.25rem 0.25rem var(--white-40);

    &:hover {
      text-shadow: 0.45rem 0.45rem 0.45rem var(--white-40);
      transition: text-shadow 0.3s ease-in-out;
    }
  }

  h2 {
    color: var(--white);
    font-size: 1.625rem;
    margin-top: -2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-shadow: 0.1rem 0.1rem 0.1rem var(--white-40);
  }

  p {
    color: var(--white);
    font-size: 1.25rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-shadow: 0.05rem 0.05rem 0.05rem var(--white-40);
  }


  img {
    max-width: 100%;
    height: auto;
    padding: 1rem;
    margin: 1rem;
  }

  i {
    color: var(--white);
    cursor: pointer;
    align-items: center;
  }

.content {
  display: flex;
  border-radius: 2rem;
  margin: 2rem;
  align-items: center;
  margin-top: 5rem;
  background: var(--background-color);
}