---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>

	<body>
	<BaseLayout />
	<div style="display: flex; align-items: center; justify-content: space-between;">
		<div>
			<h1>Hello!</h1>
			<h1>I'm Dhyan</h1>
		</div>
		<img src="/dhyan.jpg" alt="Astro Logo"
			 style="border-radius: 50%; width:37rem; margin-left: 1rem;"/>
	</div>


	</body>
</html>
