---
import '../styles/globals.scss';
---
<footer>
  <p>Made with ♥ by Dhyan</p>
</footer>

<style lang="scss">

    footer {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 8rem;
      position: relative;


      p {
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        font-size: 2rem;
      }
    }



  </style>