---
import '../styles/globals.scss';
---

<nav>
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/projects/">Projects</a>
  <a href="/contact">Contact</a>
</nav>

<style lang="scss">
  $stroke-size: 1px;

  nav {


    background-color: var(--navbar-color);
    padding: 1rem;
    margin-right: 13rem;
    border-radius: 1.25rem;
    font-size: 3.75rem;
    position: relative; // maybe also 'fixed'/'sticky'
    z-index: 1000;

    a {
      margin-right: 1rem;
      color: var(--white);
      text-decoration: none;
      text-shadow: 0.2rem 0.2rem 0.2rem var(--white-40);
      /*
      -webkit-text-stroke: #{$stroke-size} var(--white);
      text-shadow: 2px 0 0 var(--white-40),
      -2px 0 0 var(--white-40),
      0 2px 0 var(--white-40),
      0 -2px 0 var(--white-40),
      1px 1px 0 var(--white-40),
      -1px -1px 0 var(--white-40),
      1px -1px 0 var(--white-40),
      -1px 1px 0 var(--white-40);
      */

      &:hover {
        color: var(--yellow);
        text-shadow: 0.3rem 0.3rem 0.3rem var(--yellow-40);


        /*
        -webkit-text-stroke: #{$stroke-size} var(--yellow-40);
        text-shadow: 2px 0 0 var(--yellow-40),
        -2px 0 0 var(--yellow-40),
        0 2px 0 var(--yellow-40),
        0 -2px 0 var(--yellow-40),
        1px 1px 0 var(--yellow-40),
        -1px -1px 0 var(--yellow-40),
        1px -1px 0 var(--yellow-40),
        -1px 1px 0 var(--yellow-40);
         */
      }
    }
  }

</style>
